version: "3.9"

services:
  frontend:
    container_name: onlinemarket_frontend
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env.production
    ports:
      - "3000:3000"
