version: "3.9"

services:
  frontend:
    container_name: onlinemarket_frontend
    build: .
    restart: always
    env_file:
      - .env.production
    ports:
      - "3000:3000"
    mem_limit: 512m
    cpus: "0.50"
